@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Dancing+Script:wght@400..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    background-color: black;
    color:white;
    
}

/* navbar section starts here */

.nav-banner-section{
    width: 100%;
    background: linear-gradient(180.00deg, rgb(59, 51, 51),rgba(56, 44, 44, 0) 100%);
}

.navbar{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    
}

.nav-item{
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
}

.nav-links{
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    
}

.navbar h1{
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 2rem;
    font-weight: 800;
}

.Home{
    background: rgb(230, 83, 60);
    border-radius: 46px;
    padding: 5px 18px;
}

.hamburger{
    display: none;
}

/* navbar section ends here */

/* banner section starts here */

.banner{
    width: 80%;
    margin: 90px auto;
    display: flex; 
    justify-content: space-between;
    
    
}

.banner-content{
    width: 50%;
    padding-top: 80px;
    
}

.banner-content h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 3.5rem;
    font-weight: 900; 
}
.shape{
    font-family: "Dancing Script", cursive;

}

.banner-content p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 20px;
    line-height: 25px;
    margin-bottom: 30px;
}

.banner-button-1{
    border-radius: 42px;
    background: rgb(230, 83, 60);
    color: white;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 600;
    box-sizing: border-box;
    padding: 10px 20px;
    border: none;
    
}

.banner-button-2{
    border-radius: 42px;
    color: white;
    padding: 10px 20px;
    background-color: black;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 10px;
}

.banner-image{
    width: 50%;
    padding: 0px 110px;
    position: relative;
}

.banner-image img{
    width: 349px;
    height: 500px;
}

.banner-card-1{
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    width: max-content;
    padding: 5px 15px;
    position: absolute;
    top: 25%;
    left: 65%;
}

.banner-card-1 h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 2rem;
    font-weight: 900;
}
.banner-card-1 p{
    color: rgba(255, 255, 255, 0.65);
    font-family: Inter;
    font-size: 0.8rem;
    font-weight: 400;
}

.banner-card-2{
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    display: flex;
    align-items: center;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    width: max-content;
    padding: 5px 15px;
    position: absolute;
    top: 70%;
    left: 8%;
   
}

.banner-card-2 span{
    background: rgb(230, 83, 60);
    border: 2px solid rgb(230, 83, 60);
    padding: 8px 12px;
    color: white;
    border-radius: 50%;
    margin-right: 10px;
    
}

.banner-card-2 h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 2rem;
    font-weight: 900;
}
.banner-card-2 p{
    color: rgba(255, 255, 255, 0.65);
    font-family: Inter;
    font-size: 0.8rem;
    font-weight: 400;
}

/* banner section ends here */



/* change habit section starts here */

.change-habit-container{
    width: 80%;
    margin: 0 auto;
}


.change-habit-content{
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

.change-habit-content h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 10px;
}

.change-habit-content p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 0.8rem;
    font-weight: 400;
}

.card-image{
    text-align: center;

}

.card-image img{
    padding: 8px 8px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%); 

}

.card-desc h3{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
    
}

.card-desc p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 0.8rem;
    font-weight: 400;
    text-align: center;
}

.card-container{
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.card-desc{
    margin-top: 10px;
    margin-bottom: 40px;
}

/* change habit section ends here */

/* Run extra mile is started here */
.run-extra-mile-container{
    width: 1060px;
    height: 300px;
    margin: 0 auto;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.run-mile-content{
    padding: 50px;
}

.run-mile-content h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 14px;
}

.run-mile-content p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 20px;
}

.run-mile-content button{
    border-radius: 42px;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 20px;
    border: none;

}

.run-mile-image{
   padding: 20px;
    
    
}

.run-mile-image img{
    width: 100%;
    height:100%;
    object-fit: none;
    object-position: 66% 30%;
    border-radius: 18px;
    
}
/* Run extra mile is ends here */


/* BMI calculator design starts here */
.bmi-calculator-content{
    margin-top: 80px;
    margin-left: 18%;
    margin-bottom: 90px;

}

.bmi-calculator-content h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 12px;
}

.bmi-calculator-content p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 24px;
}

.calculator-chart-and-calculator-bmi-container{
    width: 100%;
    background: rgb(34, 34, 34);
    height: 400px;
    border: 2px solid red;
  
    
}
/* BMI calculator design ends here */















/* Responsive design starts here */
@media screen and (max-width:576px) {
    .navbar h1{
        font-size: 1.5rem;
        
    }
    
    .nav-item{
        display: none;
    }

    .hamburger{
        display: block;
    }

    .banner {
        flex-direction: column;
        align-items: center;
        margin: 30px auto;
    }

    .banner-content {
        width: 100%;
        padding-top: 20px;
    }

    .banner-content h1 {
        font-size: 2.5rem;
    }

    .banner-content p {
        font-size: 0.875rem;
    }

    .banner-image {
        width: 100%;
        padding: 0;
    }

    .banner-card-1 h1, .banner-card-2 h1 {
        font-size: 1.5rem;
    }

    .banner-card-1 p, .banner-card-2 p {
        font-size: 0.75rem;
    }

    .banner-card-2 button {
        margin-left: 10px;
    }

    /* responsive change habit section */

    .change-habit-content {
        width: 80%;
    }

    .change-habit-content h1 {
        font-size: 1.5rem;
    }

    .change-habit-content p {
        font-size: 0.75rem;

    }

    .card-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .card-image{
          padding: 0 35px;
    }

    .card-image img {
        width: 120px;
        height: 120px;
    }

    .card-desc h3 {
        font-size: 0.9rem;
    }

    .card-desc p {
        font-size: 0.75rem;
        width: 180px;
        margin: 0 auto;
    }

    /* Run extra mile is responsive here */

    .run-extra-mile-container {
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    /* shared styles starts*/

    .hide-in-small-device{
        display: none;
    }

    /* shared styles end */

    .run-mile-content, .run-mile-image {
        padding: 20px;
    }

    .run-mile-content h1 {
        font-size: 2rem;
    }

    .run-mile-content p {
        font-size: 0.9rem;
    }

    .run-mile-content button {
        font-size: 0.9rem;
        padding: 10px 16px;
        width: 100%;
    }

    .run-mile-image img{

        object-fit: cover;
        
        
    }

   
}