@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    background-color: black;
    color:white;
    
}

/* navbar section starts here */

.navbar{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.nav-item{
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
}

.nav-links{
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    
}

.navbar h1{
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 2rem;
    font-weight: 800;
}

.Home{
    background: rgb(230, 83, 60);
    border-radius: 46px;
    padding: 5px 18px;
}

.hamburger{
    display: none;
}

/* navbar section ends here */























/* Responsive design starts here */
@media screen and (max-width:576px) {
    .navbar h1{
        font-size: 1.5rem;
        
    }
    
    .nav-item{
        display: none;
    }

    .hamburger{
        display: block;
    }

   
}